img.actionIcon {
	border: 0px;
	vspace: 0px;
	hspace: 0px;
	width: 13px;
	height: 9px;
}

a.removeLink { text-decoration: none; }
a.removeLink:link { color: #000000; }
a.removeLink:visited { color: #000000; }
a.removeLink:active { color: #000000; }
a.removeLink:hover { color: #C80A0A; text-decoration: underline; }

a.detailsLink { text-decoration: none; }
a.detailsLink:link { color: #000000; }
a.detailsLink:visited { color: #000000; }
a.detailsLink:active { color: #000000; }
a.detailsLink:hover { color: #2C82FC; text-decoration: underline; }

a.addLink { text-decoration: none; }
a.addLink:link { color: #000000; }
a.addLink:visited { color: #000000; }
a.addLink:active { color: #000000; }
a.addLink:hover { color: #28A028; text-decoration: underline; }

td.item {
	width: 25%;
	text-align: right;
	vertical-align: top;
}

td.value {
	width: 75%;
	text-align: left;
	vertical-align: top;
}

table.itemValueTable {
	width: 100%;
	border-spacing: 8px;
	border-collapse: separate;
	margin: 5px 0px 10px 0px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 0px;
	border-right: 0px;
	line-height: 14px;
}

/* column header | item record name */
.item {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	color: #778;
	line-height: 14px;
}

/* header */
.header {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 14px;
	color: #000;
}

/* header back link */
a.headerLink {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight:normal;
	font-size: 14px;
	color: #444;
	text-decoration: none;
}
a.headerLink:link { color: #444; }
a.headerLink:visited { color: #444; }
a.headerLink:active { color: #444; }
a.headerLink:hover { color: #2C82FC; text-decoration: underline; }
