/*
div.menu ul {
	padding:3px 0;
	margin-left:0;
	border-bottom:1px solid black;
	font:bold 8pt Verdana, sans-serif;
}
div.menu ul li {
	list-style:none;
	margin:0;
	display:inline;
}
div.menu ul li a {
	padding:3px 0.5em;
	margin-left:3px;
	border:1px solid black;
	border-bottom:none;
	background-color:#F5F5F5;
	text-decoration:none;
	color:black;
}
div.menu ul li a:hover {
	background-color:#D3D3D3;
	color:#FFFFFF;
}
div.menu ul li a#current {
	background-color:#fff;
	border-bottom:1px solid #fff;
}
input.search {
	background-color:#fff;
	font:bold 12pt Verdana;
	color:black;
}
*/